<span [template-projection]="pieceLibrary" [key]="{team:'White',type:'Pawn'}"></span>
<span [template-projection]="pieceLibrary" [key]="{team:'White',type:'King',resigned:true}"></span>
<span [template-projection]="pieceLibrary" [key]="{team:'Black',type:'Rook'}"></span>
<piece-library #pieceLibrary></piece-library>

<span [template-projection]="booksLibrary" [key]="'Style1'" [context]="bookInfo"></span>
<span [template-projection]="booksLibrary" [key]="{name:'Style2',teamId:'White'}"></span>
<app-books #booksLibrary></app-books>